.htaccess
.htaccess.*
node_modules/
.wpe-*-ignore
apple-touch-icon*.png
/index.php
wp-activate.php
wp-blog-header.php
wp-comments-post.php
local-xdebuginfo.php
wp-config.php
wp-settings.php
wp-load.php
wp-config-sample.php
wp-cron.php
wp-login.php
wp-mail.php
wp-signup.php
wp-trackback.php
xmlrpc.php
wp-links-opml.php
wp-admin/
wp-includes/
wp-content/uploads/
wp-content/index.php
wp-content/themes/*
!wp-content/themes/gabecode-klems/
wp-content/plugins/*
!wp-content/plugins/gabecode-plus-klems/
/info.txt